extends ./lay

block title
    | Home

block content
    h1 Collaborative Tier Lists
    p
        | Collaborative Tier Lists is a web app which lets people create tier lists for multiple people to complete. The average tiers will be shown, so that the tier list represents the opinions of multiple people.
        br
        a.btn.btn-lg.btn-primary(href="/create-list") Make a collaborative tier list