doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css")
        link(rel="stylesheet" href="/stylesheet.css")

        title
            block title
            |  - CTL
    
    body
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.sticky-top
            a.navbar-brand(href="/")
                img.d-inline-block.align-top(src="/icon.png" alt="" loading="lazy")
                |  CTL
            button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                span.navbar-toggler-icon
            div.collapse.navbar-collapse#navbarSupportedContent
                ul.navbar-nav.mr-auto
                    li.nav-item
                        a.nav-link(href="https://github.com/975miles/collaborative-tier-lists")
                            img(src="/github.png" height="24")
                if (user != undefined)
                    button.btn.btn-outline-light.dropdown-toggle(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding: 6px 8px")
                        img.rounded(src=user.avatarURL+"?size=24&nt")
                        =" "+user.name
                    div.dropdown-menu.dropdown-menu-right
                        a.dropdown-item(href="/my-lists") Lists you've created
                        a.dropdown-item(href="/my-submissions") Lists you've submitted tiers to
                        a.dropdown-item(href="/create-list") Create a new tier list
                        div.dropdown-divider
                        a.dropdown-item(href="/logout") Logout
                else
                    a.btn.btn-light(href="/login?returnTo="+originalUrl) Login

        div.container-fluid#root
            block content
                p hey this content is empty lol
        
        script(src="https://code.jquery.com/jquery-3.5.1.js")
        script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js")
        block js