extends ./lay

block title
    | Your tiers

block content
    h1 Your tiers
    if (submissions.length > 0)
        each index in Object.keys(lists)
            p
                a(href="/submissions/"+submissions[index].id)=lists[index].name
    else
        p You haven't submitted your tiers to any lists.